@model DBLogik.Model.BrugerBilViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="Site.css">
    <title>BilForside</title>
</head>
<body>
    <br />
    <div class="grid-container">
        @using (Html.BeginForm("FindBilMærke", "Bil", FormMethod.Post))
        {
            @Html.EditorFor(m => m.SøgeBil.Mærke, new { htmlAttributes = new { @class = "form-control", onfocus = "clearValue(this)", placeholder = "Indtast mærke her" } })
            @Html.ValidationMessageFor(m => m.SøgeBil.Mærke, "", new { @class = "text-danger" })
            <input type="submit" value="Find Biler" />
        }

        @using (Html.BeginForm("SorterÅr", "Bil", FormMethod.Get))
        {
            <input type="submit" value="Sorter Biler efter År" />
        }

    </div>
    <div>
        @if (Model.Biler != null)
        {

            foreach (var b in Model.Biler)
            {
                <h1>@b.Navn</h1>
                <p>Mærke: @b.Mærke</p>
                <p>Model: @b.Model</p>
                <p>År: @b.År</p>
                <p>Indkøbspris: @b.IndKPris</p>
                <p>Salgspris: @b.SalgsPris</p>
                <hr />
            }
        }
        else
        {
            <p>Ingen biler blev fundet</p>
        }

        <script>
            function clearValue(element) {
                if (element.value === "Indtast navn her") {
                    element.value = "";
                }
            }
        </script>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>